
@{
    ViewBag.Title = "checkorderdetial";
}

<div class="page-content">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">訂單明細</h6>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputText1">訂單狀態</label>
                            <input type="text" class="form-control" id="exampleInputText6" disabled="disabled" value="" placeholder="已完成">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputText1">購買人姓名</label>
                            <input type="text" class="form-control" id="exampleInputText1" disabled="disabled" value="" placeholder="Lily">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputText1">收貨人姓名</label>
                            <input type="text" class="form-control" id="exampleInputText2" disabled="disabled" value="" placeholder="Lily">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputText1">收貨人地址</label>
                            <input type="text" class="form-control" id="exampleInputText3" disabled="disabled" value="" placeholder="新北市">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputText1">應付金額</label>
                            <input type="text" class="form-control" id="exampleInputText4" disabled="disabled" value="" placeholder="5000">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputText1">付款方式</label>
                            <input type="text" class="form-control" id="exampleInputText5" disabled="disabled" value="" placeholder="貨到付款">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputText1">新增備註</label>
                            <textarea class="form-control" placeholder="此備註僅賣家自己可看見" rows="5"></textarea>
                        </div>

                        <button class="btn btn-primary" type="submit">儲存</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
