
<div class="page-content  ">

    <!-- profile -->

    <div class="container emp-profile">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt="" />
                        <div class="file btn btn-lg btn-primary">
                            Change Photo
                            <input type="file" name="file" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                            Kshiti Ghelani
                        </h5>
                        <h6>
                            Web Developer and Designer
                        </h6>
                        <p class="proile-rating">
                            RANKINGS :
                            <span>8/10</span>
                        </p>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">AboutCompany</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="button" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" data-toggle="modal" data-target="#profile2" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-work">
                        <p>Personal Link</p>
                        <a href="">Blog Link</a>
                        <br />
                        <p>Company Link</p>
                        <a href="">Web Designer</a>
                        <br />
                        <a href="">Web Developer</a>
                        <br />
                        <a href="">WordPress</a>
                        <br />
                        <a href="">WooCommerce</a>
                        <br />
                        <a href="">PHP, .Net</a>
                        <br />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>姓名</label>
                                </div>
                                <div class="col-md-6">
                                    <p>Kshiti Ghelani</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>性別</label>
                                </div>
                                <div class="col-md-6">
                                    <p>女</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>kshitighelani@gmail.com</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>連絡電話</label>
                                </div>
                                <div class="col-md-6">
                                    <p>123 456 7890</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>公司名稱</label>
                                </div>
                                <div class="col-md-6">
                                    <p>Nike</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>公司網址</label>
                                </div>
                                <div class="col-md-6">
                                    <p>www.nike.com.tw</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>公司電話(#分機)</label>
                                </div>
                                <div class="col-md-6">
                                    <p>123 456 789轉101</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>公司類型</label>
                                </div>
                                <div class="col-md-6">
                                    <p>運動用品</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>從何得知本站</label>
                                </div>
                                <div class="col-md-6">
                                    <p>部落格</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>我的需求主題</label>
                                </div>
                                <div class="col-md-6">
                                    <p>購物系統</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>


    </div>

    <div class="modal" tabindex="-1" id="profile2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="edit-profile" class="tab-pane">

                        <div class="panel-body bio-graph-info">
                            <h1> Profile Info</h1>
                            <!--<form class="form-horizontal" role="form">
                <div class="form-group">
                </div> topBox end
                <form class="clearfix" id="service_form" name="service_form" method="post" enctype="multipart/form-data">-->
                            <input type="hidden" name="fromtw" id="fromtw" value="1">
                            <input type="hidden" name="googleAds_gclid" id="googleAds_gclid" value="">
                            <div class="formBox">
                                <!-- formBox -->
                                <ul class="formList">
                                    <li>
                                        <div class="itemBox">
                                            <!-- itemBox -->
                                            <div class="left">
                                                <div class="title">姓名＊</div>
                                                <input type="text" name="data_name" id="data_name" data-note="姓名" class="require inText inFocus">
                                            </div>
                                            @*<div class="right sexBox">
                                                <!-- right -->
                                                <label class="radio">
                                                    <input name="data_sex" type="radio" value="0" checked="checked">
                                                    <span></span>先生
                                                </label>
                                                <label class="radio">
                                                    <input name="data_sex" type="radio" value="1">
                                                    <span></span>小姐
                                                </label>
                                            </div><!-- right end -->*@
                                        </div><!-- itemBox end -->
                                    </li>
                                    <li>
                                        <div class="itemBox">
                                            <!-- itemBox -->
                                            <div class="title">連絡電話＊</div>
                                            <input type="text" name="data_telephone" id="data_telephone" data-note="連絡電話" class="require inText inFocus">
                                        </div><!-- itemBox end -->
                                    </li>
                                    <li>
                                        <div class="itemBox">
                                            <!-- itemBox -->
                                            <div class="title">E-MAIL＊</div>
                                            <input type="text" name="data_email" id="data_email" data-note="E-MAIL" class="require inText inFocus">
                                        </div><!-- itemBox end -->
                                    </li>
                                    <li>
                                        <div class="itemBox">
                                            <!-- itemBox -->
                                            <div class="title">公司名稱＊</div>
                                            <input type="text" name="data_company" id="data_company" data-note="公司名稱" class="require inText inFocus">
                                        </div><!-- itemBox end -->
                                    </li>
                                    <li>
                                        <div class="itemBox">
                                            <!-- itemBox -->
                                            <div class="title">公司電話(#分機)</div>
                                            <input type="text" name="data_company_tel" id="data_company_tel" data-note="公司電話(#分機)" class="inText inFocus">
                                        </div><!-- itemBox end -->
                                    </li>
                                    <li>
                                        <div class="itemBox">
                                            <!-- itemBox -->
                                            <div class="title">類型＊</div>
                                            <input type="text" name="data_industry" id="data_industry" data-note="產業類型" class="require inText inFocus">
                                        </div><!-- itemBox end -->
                                    </li>
                                    <li>
                                        <div class="itemBox">
                                            <!-- itemBox -->
                                            <div class="title">公司網址</div>
                                            <input type="text" name="data_web_link" id="data_web_link" data-note="公司網址" class="inText inFocus">
                                        </div><!-- itemBox end -->
                                    </li>
                                    <li>
                                        <div class="itemBox">
                                            <!-- itemBox -->
                                            <select name="data_comefrom" class="inSelect inFocus">
                                                <option value="" selected>從何得知本網站</option>
                                                <option value="Google搜尋">Google搜尋</option>
                                                <option value="Yahoo搜尋">Yahoo搜尋</option>
                                                <option value="朋友介紹">朋友介紹</option>
                                            </select>
                                        </div><!-- itemBox end -->
                                    </li>
                                    <li>
                                        <div class="itemBox">
                                            <!-- itemBox -->
                                            <div class="title">希望完成時間</div>
                                            <input type="text" name="data_cost" id="data_cost" data-note="希望完成時間" class="require inText inFocus">
                                        </div><!-- itemBox end -->
                                    </li>
                                    <li class="full">
                                        <div class="itemBox inputBox">
                                            <!-- itemBox -->
                                            <div class="title2">我的需求主題(可複選)</div>
                                            <ul class="radioSet">
                                                <li>
                                                    <label class="checkbox">
                                                        <input name="data_need_item[]" type="checkBox" value="官方網站設計">
                                                        <span></span>官方網站設計
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="checkbox">
                                                        <input name="data_need_item[]" type="checkBox" value="購物網站">
                                                        <span></span>購物網站
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="checkbox">
                                                        <input name="data_need_item[]" type="checkBox" value="SEO服務">
                                                        <span></span>SEO服務
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="checkbox">
                                                        <input name="data_need_item[]" type="checkBox" value="攝影服務">
                                                        <span></span>攝影服務
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="checkbox">
                                                        <input name="data_need_item[]" type="checkBox" value="線上訂房系統">
                                                        <span></span>線上訂房系統
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="checkbox">
                                                        <input name="data_need_item[]" type="checkBox" value="客製化程式">
                                                        <span></span>客製化程式
                                                    </label>
                                                </li>
                                                <li class="full">
                                                    <label class="checkbox">
                                                        <input name="data_need_item[]" type="checkBox" value="其他">
                                                        <span></span>
                                                    </label>
                                                    <div class="right">
                                                        <!-- right -->
                                                        <div class="title">其他</div>
                                                        <input type="text" name="data_need_item_other" class="inText inOther">
                                                    </div><!-- right end -->
                                                </li>
                                            </ul>
                                        </div><!-- itemBox end -->
                                    </li>
                                    <li class="full textLi">
                                        <div class="title">請簡述您的需求＊</div>
                                        <textarea name="data_exp" class="require inText inFocus" data-note="簡述您的需求"></textarea>
                                    </li>
                                    <li class="full">
                                        <div class="rightItem">
                                            <!-- rightItem -->
                                            <div class="submitBtn" id="submit_btn">
                                                <!-- submitBtn -->
                                                <input type="button" value="送出">

                                            </div><!-- submitBtn end -->
                                        </div><!-- rightItem end -->
                                    </li>
                                </ul>
                            </div><!-- formBox end -->
                        </div>
                    </div>
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>




    

